<div>
    <div class="container mt-5">
        <div class="row">
          <div *ngFor="let user of users" class="col-md-4 col-sm-6 col-xs-12 mb-4">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title font-weight-bold">{{ user.name }}</h5>
                <p class="card-text">{{ user.email }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <p *ngIf="!users.length" class="alert alert-danger text-center mt-4">
        No users to display at the time.
    </p>
</div>
